<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817618582237-e7ubdbrvqhh9vagrbhhppls5ai2m5ido.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817618582237-e7ubdbrvqhh9vagrbhhppls5ai2m5ido</string>
	<key>API_KEY</key>
	<string>AIzaSyBYZpbyX38SMBwJvvobV-9wQH7aSYNSQYE</string>
	<key>GCM_SENDER_ID</key>
	<string>817618582237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>appchat-95a36</string>
	<key>STORAGE_BUCKET</key>
	<string>appchat-95a36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817618582237:ios:47abd72fc15725f1117934</string>
</dict>
</plist>